.inputBox {
    border: 1px solid transparent;
    border-bottom: 1px solid rgb(230, 230,230);
    color: white;
}

.inputBox::placeholder {
    color: #f1f1f1;
    font-size: 13px;
    transition: all ease 1s;
}

.inputBox:focus {
    border: 1px solid yellow;
    scale: 1.1;
    color: rgb(255, 255, 180);
    box-shadow: 1px solid red;
    border-radius: 3px;
}

a {
    text-decoration: none;
}

.mw5-5 {
    max-width: 24rem;
}

.invalid {
    color: pink;
}