.facebox {
    position: absolute;
    box-shadow: 0 0 0 3px #308FDC inset;
    display: -webkit-box;
    display: -ms-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}

.image-container {
    display: flex;
    justify-content: center;
}

.image-box {
    position: absolute;
}