@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,700,900&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #ffffff;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  /* background: rgb(0,212,255);
  background: radial-gradient(circle, rgba(0,212,255,1) 0%, rgba(0,183,213,1) 100%); */

  /* background-image: radial-gradient( circle,  rgba(87,108,117,1) 0%, rgba(37,50,55,1) 100.2% ); */

  background-image: radial-gradient( circle,  rgba(30,144,231,1) 0%, rgba(31,63,116,1) 100.2% );


  /* background-color: #08AEEA;
  background-image: radial-gradient(circle, #08AEEA 0%, #2AF598 100%); */
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
