p#message {
    width: 100%;
    padding: 10px;
    opacity: 0.9;
}

.error {
    background-color: pink;
    color:#222;
    font-weight: 400;
}

.success {
    background-color: limegreen;
    color:white;
    font-weight: 700;
}